
.service{
    background-image: url(../images/Network-services-scaled.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -23px;
    text-align: center;
    font-size: 126px;
    padding-top: 191px;
    color:white;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    
    word-spacing: 75px;
}
.ser{
    text-align: center;
    margin-top: 80px;
}
.we{
    text-align: center;
    font-size: 32px;
}
.digital{
    margin-left: 192px;
    margin-top: 73px;
}
.di1{
    margin-left: 235px;
    margin-top: 11px;
}
.dp{
    margin-left: 119px;
    text-align: center;
    margin-right: 77px;
    margin-top: 11px;
}
.off{
    margin-left: 173px;
    margin-top: 11px;
}
.hr{
    width: 492px;
    margin-left: 96px;
    margin-top: 21px;
}
.offline{
    margin-left: 192px;
    margin-top: 68px;
}
.offp{
    margin-left: 119px;
    text-align: center;
    margin-right: 77px;
    margin-top: 16px;
}
.social{
    margin-left: 192px;
    margin-top: 29px;
    width: 300px;
}
.so1{
    margin-left: 202px;
    margin-top: 11px;
}
.web{
    margin-left: 192px;
    margin-top: 29px;
    width: 342px;
    height: 201px;
}
.web1{
    margin-left: 243px;
    margin-top: 11px;
}
.brand{
    margin-left: 225px;
    margin-top: 11px;
}
.footer{
    margin-top: 75px;
    background-color: darkblue;
    color: white;
}
.foth5{
    margin-top: 78px;
    margin-left: 78px;
}
.fotp{
    margin-left: 39px;
    margin-top: 21px;
    text-align: justify;
}
.fots{
    margin-top: 76px;
    margin-left: 144px;

}
.foots{
    margin-left: 108px;
    margin-top: 22px;
}
.foots1{
    margin-left: 61px;
    margin-top: 22px; 
}
.btnfull3{
    margin-top: 613px;
    padding: 13px;
    background-color: red;
    color: white;
    word-spacing: 5px;
    border-radius: 34px;
}
.copy{
   
    margin-top: 55px;
    margin-left: 40px;
    padding-bottom: 51px;
}
.power{
    margin-left: 104px;
    margin-top: 117px;
}